html, body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
h1{

}
/*---------------------- MOBILE CSS ----------------------*/

/*---- NAVBAR ------*/
#nav-container{
    display: flex;
    align-items: center;
    background-color: rgb(58, 58, 58);
}

.navComponents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8em 0.6em;
}

#navTag{
    width: 100%;
}

#navbar{
    display: flex;
    list-style-type: none;
    padding: 0;
}

#logo, #navbar li a, #toggle a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

#logo{
    font-size: 1.3rem;
}

.navItem{
    padding: 0.7em 0;
    text-align: center;
    border-top: 1px solid rgb(202, 202, 202);
}

//////// Used to change responsive behavior
.hideNav{
    display: none;
}

.navColumn{
    flex-direction: column;
}

/*---------------------- BODY CONTAINER ----------------------*/
.container{
    display: flex;
}

/*---------------------- FORM CONTAINER ----------------------*/
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-style{
    display: flex;
    flex-direction: column;
}

.form-field-group{
    margin-top: 1.5em;
}

.form-label{
    display: block;
    margin-bottom: 0.4em;
}

//////////////////////

@media  all and (min-width: 935px) {
    #nav-container{
        flex-direction: row;
        justify-content: space-between;
    }
    #toggle{
        display: none;
    }

    .navComponents{
        width: auto;
    }

    #navTag{
        width: auto;
        display: block;
    }
    #navbar{
        flex-direction: row;
        justify-content: flex-end;
    }
    .navItem{
        border: none;
        padding-right: 0.6em;
    }
    .navItem:last-child{
        padding-right: 0.6em;
    }
}