<header>
    <div id="nav-container">
        <div class="navComponents">
            <a id="logo" href="#">Artesania Familia Garcia</a>
            <div id="toggle">
                <a href="#" data-turbolinks="false"><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <nav id="navTag" class="hideNav">
            <ul id="navbar">
                <li class="navItem"><%= link_to "Manage Inventory", home_admin_path %></li>
                <li class="navItem"><a href="">All Products</a></li>
                <li class="navItem"><a href="">For Men</a></li>
                <li class="navItem"><a href="">For Woman</a></li>
                <li class="navItem"><a href="">For Children</a></li>
                <li class="navItem"><a href="">Log Out</a></li>
            </ul>
        </nav>
        
    </div>
</header>