<nav>
    <ul id="navbar">
        <li class="logo"><a href="#">Artesania Familia Garcia</a></li>
        <li id="toggle">
            <a href="#" data-turbolinks="false"><i class="fas fa-bars"></i></a>
        </li>
        <li class="navItem"><a href="">View All Products</a></li>
        <li class="navItem"><a href="">New Product</a></li>
        <li class="navItem"><a href="">Update Product</a></li>
        <li class="navItem"><a href="">Delete Product</a></li>
        <li class="navItem"><a href="">Log Out</a></li>
        
    </ul>
</nav>